@charset "utf-8";

/* CSS Document */

#wrap {

margin-right: auto; margin-left: auto;

width: 586px;

background-color: #099;

}

#header {

float: left;

background-color: #0CC;

width: 586px;

}

.contenedor {

float: left;

margin-right: auto;

margin-left: auto;

background-color: #09F;

}

.botonera {

background-color: #0C6;

float: left;

width: 586px;

}